h1 {
    margin-block: 0.3rem;
}

button{
    border: 1px solid #e1e7e4bd;
    &:hover {
        cursor: pointer;
    }
    &.primary {
        background-color: #0a2391;
        color: #fff;
        border: 1px solid #243fdabd;
    }
    &:disabled{
        cursor: not-allowed;
        border: 1px solid #e1e7e4bd;
        color: #f3f1f1;

    }

}
