:host{
    margin: 0.5rem;
    &>button {
        margin-left: 0.2rem;
        border-radius: 15px;
        height: 1.5rem;
        line-height: 0.5rem;
        text-align: center;        outline: 0;
        padding: 8px;
        &:disabled{
            background-color: #dedede;
        }
    }
}
